.boxContainer {
  width: 280px;
  height: 318px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 24px;
  margin-top: 30px;
}

.productDescriContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heartIcon {
  width: 24px;
  height: 24px;
}
.productBrand {
  color: #9bacc5;
}
.productImage {
  width: 100%;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.discriLine1Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
  padding-top: 3px;
}
