.font-01 {
  font-size: 18px;
  color: #585858;
}
.font-01-bold {
  font-size: 18px;
  font-weight: 700;
  color: #585858;
}
.font-02 {
  font-size: 14px;
  color: #869ab8;
}

.font-02-bold {
  font-size: 14px;
  font-weight: 600;
  color: #869ab8;
}

.font-03 {
  font-size: 12px;
  color: #a9a9a9;
}

.font-03-bold {
  font-size: 12px;
  font-weight: 600;
  color: #a9a9a9;
}
